@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>See <a href="http://blog.zerosharp.com/replacing-a-class-at-runtime-using-ninject-and-roslyn-part-1/" class="btn btn-primary btn-lg">the blog post</a> for more information.</p>
