@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>See <a href="http://blog.zerosharp.com/a-simple-plug-in-framework-using-ninject-and-roslyn" class="btn btn-primary btn-lg">the blog post</a> for more information.</p>
